@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
}

body {
  font-family: 'Bebas Neue', cursive;
  overflow: hidden;
  background: #666;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10vw;
  line-height: 80px;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  filter: url(#filter-ttl);
}

.svg-filter {
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}

.btn {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
}